/* CSS Document */

.theme-text {
	color: #52A1FF;
}

.theme-background {
	background: #52A1FF;
}

#current-link,
nav a:hover,
nav a:active {
	background: #52A1FF;
}

body {
}

h1 {
	color: #52A1FF;
}

.content-title {
	margin-left: -10px;
}
