/* Color Themeing */

.theme-text {
	color: #FF950F;
}

.theme-background {
	background: #FF950F;
}

/* Organizational Stuff*/

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: #FFFFFF;
	font-weight: 300;
}

main {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1000px;
}

section::before,
section::after {
  display: table;
  content: " ";
  clear: both;
}

.full,
.third,
.two-thirds,
.fourth,
.half {
  width: 100%;
}

article {
	max-width: 500px;
}

@media screen and (min-width: 800px) {
	.full {
    width: 100%;
  }
  .half {
    width: calc(100% / 2);
  }
  .third {
    width: calc(100% / 3);
  }
  .fourth {
    width: calc(100% / 4);
  }
  .two-thirds {
    width: calc(100% / 3 * 2);
  }
  article,
	aside {
    float: left;
		max-width: inherit;
  }
}

/* Navbar Styling */

nav {
	height: 40px;
	width: 100%;
	background: #606060;
	color: azure;
	position: fixed;
	left: 0px;
	bottom: 0px;
}

nav ul {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: inherit;
}

nav li {
	padding: inherit;
	display: inline;
	float: left;
	height: inherit;
  width: calc(100% / 4);
}

nav a {
	color: #FFFFFF;
	display: inline-block;
	width: 100%;
	height: inherit;
	
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}

nav a:hover,
nav a:active {
	background: #FF950F;
}

#current-link {
	background: #FF950F;
}

@media screen and (min-width: 800px) {
	nav {
		position: relative;
		left: auto;
		bottom: auto;
	}
	
	nav ul {
		width: 800px;
	}
	
	nav li:first-of-type {
		background: #434343;
	}
	
	nav li {
		width: 100px;
	}
}

.nav-spacer {
	height: 40px;
}

/* Content Styling */

.container {
	margin: 0px 10px;
}

@media screen and (min-width: 800px) {
	.container {
		padding: 0px;
		width: 800px;
		margin: 0px auto;
	}
}

/* Text styling */

section h1 {
	margin: 40px 0px 0px 0px;
}

.container h2 {
	margin: 0px;
}

h1, h2, h3 {
	font-weight: 100;
	font-family: 'Poiret One', sans-serif;
	color: #52A1FF;
}

.content-title {
	font-size: 2.5em;
	
	margin: 0px;
	margin-bottom: -4px;
	padding-left: 0px;
}

@media screen and (min-width: 800px) {
	.content-title {
		font-size: 5em;

		margin: 0px;
		margin-bottom: -16px;
		padding-left: 0px;
	}
}

main {
	margin-left: 0px;
	padding-left: 0px;
}

.container ul {
	padding-left: 20px;
	margin-top: 0px;
}

.container li {
	list-style-position: outside;
	list-style-type: none;
	border-left: solid 2px #52A1FF;
}

/* Links */
a {
	color: #606060;
}

.container > a {
	background-color: #52A1FF;
	color: #FFF;
	display: inline-block;
	width: 80px;
	height: 40px;
	
	margin-top: 10px;

	text-align: center;
	text-decoration: none;
	line-height: 40px;
}

.container > a:hover {
	background-color: #434343;
}

.container li a {
	padding-left: 5px;
}

.container li a:hover {
	color: #EEE;
}










































