@import url("https://fonts.googleapis.com/css?family=Poiret+One|Raleway&display=swap");
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);
@-ms-viewport {
  width: device-width;
}

/* Global Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12pt;
  font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poiret One", sans-serif;
}

code {
  font-family: 'Fira Code', monospace;
  font-size: 0.9em;
  tab-size: 3;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  color: white;
  background-color: hsl(222, 76%, 54%);
}

@media screen and (min-width: 720px) {
  html {
    font-size: 16pt;
  }
}

p, a, h1, h2, h3, h4, h5, h6, li, span {
  transition: font-size 0.4s;
}

.high-shadow {
  filter: drop-shadow(3px 5px 9px rgba(0, 0, 0, 1));
}

li {
  list-style: none inside;
}

img {
  object-fit: contain;
}

a {
  text-decoration: none;
}

main a {
  color: white;
  padding-left: 3px;
  padding-right: 3px;
  color: hsl(30, 100%, 65%);
  transition: color .2s;
}

main a:hover {
  color: hsl(30, 100%, 75%);
}

main a:active {
  color: hsl(30, 100%, 85%);
}

time {
  font-size: 0.7em;
}

/* page-content spacing */

h1 {
  margin-top: 2.8rem;
}

h2 {
  margin-top: 2.4rem;
}

h3, h4, h5, h6 {
  margin-top: 2.25rem;
}

h1+h2, h2+h3, h3+h4, h4+h5, h5+h6 {
  margin-top: 1.5rem;
}

p {
  margin-top: 2rem;
}

header>p {
  margin-top: 0;
}

header+p, h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {
  margin-top: .2rem;
}

.page-content>article {
  margin-top: 2rem;
}

.page-content ul, .page-content .highlighter-rouge {
  margin-top: .8rem;
}

.page-content ul+ul, .page-content .highlighter-rouge+.highlighter-rouge {
  margin-top: 1.5rem;
}

article:first-child, header:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

p:first-child, .page-content ul:first-child, .page-content .highlighter-rouge:first-child {
  margin-top: 0;
}

footer {
  margin-top: 3rem;
}

/* Navigation Styling */

nav {
  width: 100%;
}

.logo-container {
  order: 1;
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  z-index: 1;
  transition: background-color .4s, opacity .3s;
}

.logo-container:hover {
  background-color: white;
}

.logo-container:selected {
  background-color: white;
  opacity: 0.5;
}

.logo-image {
  display: block;
  width: 80%;
  height: 80%;
  transition: filter .4s, opacity .3s;
}

.logo-container:hover .logo-image {
  filter: invert(100%);
}

.logo-container:selected .logo-image {
  filter: invert(100%);
  opacity: 0.5;
}

.nav-center-div {
  order: 3;
  flex: 1 0 100%;
}

nav li {
  padding: 0;
  border: none;
}

nav li+li {
  margin-top: 0;
}

nav li:nth-of-type(even) {
  border: none;
}

.nav-list {
  width: auto;
  padding-left: 3px;
  padding-right: 3px;
}

.nav-entry>a {
  margin: 2px 2px 6px 2px;
  padding: 2px 6px;
  font-size: 1em;
  color: white;
  border: solid 2px white;
  border-radius: 9999px;
  transition: color .4s, background-color .4s, opacity .3s;
}

.nav-entry>a:hover {
  color: black;
  background-color: white;
}

.nav-entry>a:active, a.nav-selected {
  color: black;
  background-color: white;
  opacity: .5;
}

.nav-entry>.nav-current {
  background-color: rgba(255, 255, 255, 0.25);
}

.social-list {
  order: 2;
  flex: 1 1 40px;
  padding-left: 0;
  padding-right: 0;
}

.social-entry {
  flex: 0 0 40px;
  height: 40px;
}

.social-entry>a {
  width: 100%;
  height: 100%;
  color: white;
  transition: color .4s, background-color .4s;
}

.social-entry>a:hover {
  color: black;
  background-color: white;
}

.social-entry>a>img {
  width: 65%;
  height: 65%;
  transition: filter .4s;
}

.social-entry>a:hover>img {
  filter: invert(100%);
}

@media screen and (min-width: 720px) {
  .logo-container {
    order: 1;
    width: 80px;
    height: 80px;
  }
  .nav-center-div {
    order: 2;
    flex: 0 1 800px;
  }
  .nav-entry>a {
    margin: 9px 3px 3px 3px;
    padding: 3px 9px;
  }
  .social-list {
    order: 3;
    flex: 0 0 80px;
  }
}

.trail {
  margin: 0px 3px 6px 3px;
  width: auto;
  padding-left: 3px;
  padding-right: 3px;
}

.trail-entry>a {
  padding: 0 6px;
  margin: 0 1px;
  border-radius: 9999px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  transition: color .3s, background-color .3s, opacity .2s;
}

.trail-entry>a:hover {
  color: black;
  background-color: white;
}

.trail-entry>a:active {
  color: black;
  background-color: white;
  opacity: .5;
}

.trail-entry>span {
  padding: 0 6px;
  margin: 0 -4px;
  border-radius: 9999px;
  color: hsl(222, 100%, 89%);
}

/* Content Styling */

main {
  flex: 0 1 auto;
  width: 100%;
  overflow-x: hidden;
}

main>section {
  width: 100%;
}

main>section>article {
  width: 100%;
}

main>* {
  max-width: 100%;
}

.page-header, .content-header, p, h1, h2, h3, h4, h5, h6, ul, time, div.highlighter-rouge {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

li>ul {
  width: auto;
}

p {
  padding-right: 40px;
}

@media screen and (min-width: 960px) {
  .page-header, .content-header, p, h1, h2, h3, h4, h5, h6, time, div.highlighter-rouge {
    width: 900px;
    padding-left: 0;
    padding-right: 0;
  }
  ul {
    width: 888px;
    margin-right: 12px;
  }
  li>ul {
    width: auto;
  }
}

@media screen and (min-width: 800px) {
  p {
    padding-right: 160px;
  }
}

.page-header {
  padding: 9px 0 24px 0;
  color: white;
}

header>time {
  display: block;
  margin: 0.2em 0 0.3em 0;
  padding: 0 40px 0 12px;
  font-size: 0.7em;
}

.page-header>h1 {
  margin: 0 0 3px 0;
  font-size: 1.9em;
}

.page-header>p {
  font-size: 1.1em;
}

.content-header {
  padding: 0.45em 0 0.45em 0;
  margin: 2rem 0 .5rem 0;
}

.page-content {
  margin-bottom: 6rem;
  background-color: hsl(222, 64%, 41%);
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.25em;
}

h4, h5, h6 {
  font-size: 1.15em;
}

p {
  font-size: 1.05em;
  line-height: 1.65;
}

li {
  padding: 0 60px .4rem 9px;
  border-left: solid 3px rgba(255, 255, 255, 0.5);
}

li:nth-of-type(even) {
  border-left: solid 3px rgba(255, 255, 255, 0.25);
}

li+li {
  margin-top: 6px;
}

li>ul {
  padding-top: .4rem;
  margin-bottom: -.4rem;
}

li.link-entry {
  padding: .2rem 24px .2rem 9px;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: solid 3px hsl(26, 6%, 77%);
  transition: color .3s, background-color .3s, border-color .3s;
}

.link-entry:hover {
  background-color: rgba(0, 0, 0, 0.24);
  border-color: hsl(26, 6%, 30%);
}

.link-entry::before {
  content: "❭";
  color: hsl(26, 6%, 66%);
  margin-right: 3px;
  transition: color .3s;
}

.link-entry:hover::before {
  color: hsl(26, 6%, 30%);
}

.link-entry:nth-of-type(2n):hover {
  background-color: rgba(0, 0, 0, 0.24);
}

.link-entry>a {
  width: 100%;
}

.link-entry:hover>a {
  color: white;
}

.link-entry>a>span {
  margin-right: 12px;
}

div.highlighter-rouge {
  padding: 0 24px 0 9px;
  overflow-x: auto;
  background-color: rgba(0, 0, 0, 0.12);
  border-left: solid 3px rgba(0, 0, 0, 0.24);
}

div.highlight {
  padding: .3em 0;
  width: 100%;
}

div>pre>code {
  display: inline-block;
  padding-right: 36px;
}

.button-link {
  display: inline-block;
  margin: 3px 6px 9px 0;
  padding: 3px 6px;
  color: white;
  border-left: 3px solid hsl(30, 94%, 57%);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color .2s, border-color .2s;
}

.button-link::after {
  content: none;
}

.button-link:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: hsl(30, 100%, 68%);
}

.button-link:active {
  background-color: rgba(255, 255, 255, 0.7);
  border-color: hsl(30, 100%, 75%);
}

.page-content>footer {
  margin-top: 5em;
}

.notice {
  padding: 12px 9px;
  background-color: rgba(255, 255, 255, .25);
  border-radius: 6px;
}

@media screen and (min-width: 720px) {
  .page-header>h1 {
    font-size: 2.8em;
  }
  h1 {
    font-size: 2.6em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.55em;
  }
  h4, h5, h6 {
    font-size: 1.2em;
  }
  .page-content p {
    font-size: 1em;
  }
}

/* Feature list styling */

ul.feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
}

ul.feature-list>li {
  padding: 6px 9px;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 3px solid white;
  transition: background-color .2s, border-color .6s, color .6s;
}

ul.feature-list>li+li {
  margin-top: 0;
}

ul.feature-list>li:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

ul.feature-list>li:active {
  background-color: rgba(255, 255, 255, 0.7);
}

ul.feature-list>li>ul {
  display: none;
}

ul.feature-list>li.selected {
  grid-column: 1 / -1;
  grid-row: 1;
  padding: 0 40px 12px 9px;
  cursor: auto;
  white-space: normal;
  font-size: 1.3rem;
  background-color: transparent;
  transition: background-color .6s, border-color .6s, color .6s;
}

ul.feature-list>li.selected>ul {
  display: block;
  margin: 0;
  padding: 0;
}

/*  :)  I'm not sorry for this selector. Jekyll made me do it. */

ul.feature-list>li.selected>ul>li {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.65;
  border: none;
}

@media screen and (min-width: 960px) {
  ul.feature-list {
    display: grid;
    grid-template-columns: repeat(5, calc((900px - (6px * 4)) / 5));
    padding: 0;
  }
}

/* Functionality styles */

.context-button {
  display: inline;
  padding: 2px 8px;
  color: white;
  background-color: transparent;
  border: solid 2px white;
  border-radius: 9999px;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  transition: color .2s, background-color .2s, border-color .15s, font-weight .2s;
}

.context-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
  border-color: transparent;
}

.context-button:active {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: transparent;
}

.context-span {
  display: none;
  padding: 6px 12px;
  margin: 6px 0;
  font-size: 0.9em;
  word-wrap: break-word;
  color: hsl(222, 93%, 56%);
  background-color: white;
  border-radius: 6px;
  z-index: 900;
}

button.context-active {
  font-weight: bold;
  color: hsl(222, 93%, 56%);
  background-color: white;
  border-color: white;
}

button.context-active:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: transparent;
}

button.context-active:active {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: transparent;
}

span.context-active {
  display: block;
}

/* Common Layout Styles */

.passthrough {
  pointer-events: none;
}

.catch {
  pointer-events: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.row-rev {
  display: flex;
  flex-direction: row-reverse;
}

.col-rev {
  display: flex;
  flex-direction: column-reverse;
}

.row-inverting {
  display: flex;
  flex-direction: row;
}

.column-inverting {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1100px) {
  .row-inverting {
    flex-direction: row-reverse;
  }
  .column-inverting {
    flex-direction: column-reverse;
  }
}

.wrap {
  flex-wrap: wrap;
}

.wrap-mobile {
  flex-wrap: wrap;
}

@media screen and (min-width: 720px) {
  .wrap-mobile {
    flex-wrap: nowrap;
  }
  .wrap-desktop {
    flex-wrap: wrap;
  }
}

.center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-main {
  display: flex;
  align-items: center;
}

.center-cross {
  display: flex;
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.fill {
  flex: 1 1 100%;
}

.soft-fill {
  flex: 1 1 0%;
}

.video-backdrop {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .4) 25%, rgba(0, 0, 0, .4) 75%, rgba(0, 0, 0, .3));
}

.container-video {
  width: 1100px;
}

.container-video16x9 {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.container-video16x9 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}