@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

/*
    Clear sytling
*/
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  background: #555;
  color: white;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

p {
  line-height: 1.5em;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: #2C7CEC;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

img {
  border: none;
}

button:focus { outline: 0; }

.top-banner {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 60px;
  width: 100%;
  background: #222;
  z-index: 999;
  box-shadow: 0px 0px 8px 6px rgba(0,0,0,0.7);
}

@media screen and (max-width: 800px) {
  .top-banner {
    display: none;
  }
}


/*
    Main styling
*/

.container-main {
  height: 100%;
}

header {
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0px;
  
  width: 150px;
  
  background: #222;
  z-index: 900;
  box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.7);
}
#menu-handle,
#menu-handle-toggle,
#menu-graphic {
  display: none;
}

@media screen and (max-width: 800px) {
  header {
    top: unset;
    bottom: -120px;
    right: 0px;
    
    width: 100%;
    height: 120px;
    
    box-shadow: 0px -4px 15px 0px rgba(0,0,0,0.7);
    transition: bottom 0.3s;
  }
  #menu-handle {
    display: block;
    position: absolute;
    top: -40px;
    right: 10px;
    width: 40px;
    height: 40px;

    font-size: 2em;
    font-weight: bold;
    line-height: 40px;
    text-align: center;

    background: #2C7CEC;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.7);

    cursor: pointer;
  }
  #menu-graphic {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 80%;
    height: 80%;

    transform: rotate(0deg);
    transition: transform 0.2s;
  }
}


/*
    Nav Styling
*/

#home-link img {
  width: 100%;
  margin-bottom: 1em;
}
nav {
  width: 100%;
}
nav a {
  margin: 0px 15px;
  padding: 6px;
  
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  
/*   background: yellow; */
  color: white;
  border-radius: 1.1em;
}
nav a:hover {
  color: #fa0;
}
nav li {
  display: block;
  margin-top: 20px;
  
  font-size: 1.5em;
}

@media screen and (max-width: 800px) {
  nav {
    height: 100%;
    overflow: hidden;
  }
  nav ul {
    height: 100%;
    margin-top: 0px;
  }
  nav li {
    box-sizing: border-box;
    margin: 0;
    padding: 16px 12px;
    font-size: 1.4em;
    height: 50%;
  }
  nav li a {
    margin: auto 0;
    padding: 0;
    border-radius: 0;
  }
  
  #nav-items-left {
    float: left;
  }
  #nav-items-right {
    float: right;
    text-align: right;
  }
  #home-link {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    
    height: 100%;
    width: 40%;
    
    text-align: center;
    
    background-image: url("../Images/Logo_background.png");
    background-size: 100% 120px;
  }
  #home-link img {
    max-height: 112px; /* TODO: make proportional */
    width: auto;
    padding: 4px;
  }
}


/*
    Content styling
*/

.container-content {
  position: relative;
  margin-left: 185px;
  padding-top: 60px;
  
  height: 100%;
  width: 500px;
}
.container-content-banner {
  background-color: rgba(30, 30, 30, .6);
  box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.7);
}

.container-content section {
  padding-bottom: 50px;
}

.container-content p {
  margin-left: 6px;
  font-size: 1em;
}
.container-content p + p {
  margin-top: 12px;
}
.container-content ul {
  box-sizing: border-box;
  margin: 3px 6px 12px 6px;
  padding: 0 0 0 6px;
  border-left: 2px solid #FA0;
}
.container-content li {
  margin: 0 0 9px 0;
}

.container-header {
  box-sizing: border-box;
  display: flex;
  flex-flow: horizontal;
  
  padding-top: 20px;
  padding-bottom: 2px;
  margin-bottom: 40px;
  
  border-bottom: 3px solid #2C7CEC;
}
.container-content h1 {
  display: flex;
  flex: 1 0 auto;
  margin: 0px 6px;
  padding-bottom: 0px;
  text-align: right;
  font-size: 2.6em;
  color: #fa0;
}
.container-content h2 {
  margin-left: 6px;
  margin-bottom: 10px;
  border-bottom: 1px solid #FA0;
}
.container-content h3 {
  margin-left: 6px;
  margin-top: 30px;
}
.container-content h4 {
  margin-left: 6px;
  margin-top: 12px;
}

section > a {
  display: inline-block;
  margin-left: 6px;
  padding: 9px;

  font-size: 1.2em;

  background: #2C7CEC;
  color: white;
  border-radius: 5px;
}

.headerfill {
  position: relative;
  flex: 0 1 100%;
  flex-direction: column;
  margin-bottom: 10px;
}
.headerfill-5per {
  flex: 0 1 5%;
}
.headerbar {
  position: absolute;
  background: white;
  width: 100%;
}
.headerbar-thick {
  bottom: 0px;
  height: 6px;
  background: #FA0;
}
.headerbar-med {
  bottom: 15px;
  height: 3px;
/*   background: #2C7CEC; */
}
.headerbar-thin {
  bottom: 26px;
  height: 2px;
}

h2 a {
  border-bottom: 3px solid #2C7CEC;
  color: white;
}
h2 a:hover {
  border-bottom-color: #0F4FB7;
  color: #ccc;
}
h2 a:active {
  border-bottom-color: #0C3F87;
  color: #999;
}

.container-content img {
  box-sizing: border-box;
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  .container-content {
    margin: 0px;
    padding-top: 0;
    padding-bottom: 70px;
    width: 100%;
  }
  .container-content-banner {
    padding-bottom: 100px;
  }
  .container-content p {
    margin-right: 6px;
  }
}

/*
    Button and sideviews
*/


.button-context {
  padding: 3px 8px;
  
  border: none;
  border-radius: 12px;
  
  font-size: 1em;
  
  background: #2C7CEC;
  color: #111;
}
section > .button-context {
  margin-left: 6px;
}
.button-context:hover {
  background: #0F4FB7;
}
.button-context:active {
  background: #0C3F87;
}
.container-content p {
  position: relative;
}

.content-anchor {
  display: none;
}
.sideview-text {
  position: absolute;
  top: -8px;
  padding: 8px;

  font-size: 0.9em;

  background: #2C7CEC;
  border-radius: 12px;

  box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.9);
  z-index: 900;
}
.sideview-text > h3:first-of-type {
  margin-top: 0;
}
@media screen and (min-width: 800px) {
  .content-anchor {
    position: absolute;
    left: 512px;
    width: 300px;
  }
  .sideview-text:before {
    position: absolute;
    right: 100%;
    top: 25px;

    height: 0;
    width: 0;

    border: solid transparent;
    content: "";

    pointer-events: none;
  }
  .sideview-text:before {
    border-right-color: #2C7CEC;
    border-width: 10px;
    margin-top: -10px;
  }
}

.button-image {
  position: relative;
  padding: 3px 8px;
  
  border: none;
  font-size: 1em;
  background: #2C7CEC;
  color: #111;
/*   -webkit-clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
  clip-path: polygon(20% 0, 90% 0, 100% 50%, 80% 100%, 20% 100%, 0 50%); */
}
.button-image:hover {
  background: #0F4FB7;
}
.button-image:active {
  background: #0C3F87;
}


.container-content img {
  display: none;
}

@media screen and (max-width: 800px) {
  .content-anchor {
    width: 100%;
  }
  .sideview-text {
    position: static;
    display: block;
    border-radius: 0px;
    
    padding: 4px 6px;
    margin: 6px -6px;
  }
  
  .container-content img {
    display: inline-block;
  }
  .button-image {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    background: none;
    color: #FA0;
    font-weight: bold;
  }
  .button-image:hover {
    background: none;
  }
  .button-image:active {
    background: none;
  }
  .button-image:after,
  .button-image:before {
    content: '\25bc';
    padding: 0 0.1em;
    font-size: 0.8em;
  }
}


/*
    Sideview styling
*/

#container-sideview {
  display: block;
  position: fixed;
  left: 720px;
  top: 60px;
  right: 0px;
  bottom: 0px;
}
#container-sideview img {
  box-sizing: border-box;
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  
  max-width: 96%;
}
.img-bordered {
  border: 4px solid white;
  box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.7);
}

@media screen and (max-width: 800px) {
  #container-sideview {
    display: none;
  }
}
