@import url('https://fonts.googleapis.com/css?family=Raleway|Lobster');

/*
#E63946 - Lighter Red
#A82A33

#F1FAEE - Honeydew
#B0B6AE

#A8DADC - Light Blue
#7B9FA1

#457B9D - Queen Blue
#335A73

#1D3557 - Space Cadet
#162740
*/

/* CLEARING DEFAULT ATTRIBUTES */
body {
  padding: 0px;
  margin: 0px;
  
  font-family: "Raleway";
  background-color: #F1FAEE;
  color: #F1FAEE;
}

p, h1, h2, h3, h4, h5, h6, h7 {
  padding: 0px;
  margin: 0px;
}

/******************************************************/

/* DEFINING NAV LAYOUT PROPERTIES */
nav {
	background: #457B9D;
  
	height: 50px;
	width: 100%;
	position: fixed;
	left: 0px;
	bottom: 0px;
  box-shadow: 0px -1px 9px black;
	z-index: 1;
  
  display: flex;
  flex-flow: row;
}

nav a {
	color: #F1FAEE;
	height: inherit;
	
	text-align: center;
	text-decoration: none;
	line-height: 50px;
  font-size: 1.1em;
  
  flex: 0 0 70px;
  
  transition:
    background-color    0.3s,
    height              0.3s,
    line-height         0.3s,
    color               0.4s,
    border-radius       0.3s;
}

#logo {
  position: static;
  width: 0px;
  flex: auto;
}

/****BUTTONS****/
nav a.button-donate {
  background-color: #E63946;
  flex: 1 0 auto;
  
  font-family: "Lobster";
  font-size: 2.2em;
  font-weight: 200;
}

nav a:active {
	background: #1D3557;
}

nav a:hover {
  background-color: #335A73;
}

.button-donate:hover {
  background-color: #A82A33;
}

.button-search {
  border: none;
  background-color: #457B9D;
  color: #F1FAEE;
  
  flex: 0 0 50px;
  
  transition:
    background-color    0.3s,
    height              0.3s;
}

.button-search:hover {
  background-color: #335A73;
}

.button-search:active {
  background-color: #1D3557;
}

/****SEARCH****/
.search-bar {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 3em;
  
  display: flex;
  flex-flow: row;
}

.search-bar input {
  box-sizing: border-box;
  border: none;
  padding: 0px 10px;
  
  height: 100%;
  
  font-size: 1.1em;
  
  flex: auto;
}

.search-bar button {
  width: 3em;
}

.search-bar button img {
  height: 100%;
  width: 100%;
}

.image-link {
  flex: none;
}


@media screen and (min-width: 800px) {
	nav {
		position: fixed;
		left: auto;
		bottom: auto;
    height: 60px;
    box-shadow: 0px 3px 6px black;
	}
  
  nav a {
    line-height: 60px;
    flex: 0 0 80px;
  }
  
  nav a:hover {
    border-radius: 10px / 0px 0px 10px 10px;
    line-height: 80px;
    height: 70px;
  }
  
  .button-donate:hover {
    background-color: #f7b927;
    color: black;
    line-height: 90px;
    height: 80px;
    border-radius: 20px / 0px 0px 20px 20px;
  }

  .button-search {
    flex: 0 0 60px;
  }

  #logo {
    position: relative;
    width: 80px;
    height: 100%;
    top: 0px;
    left: 0px;
    
    object-fit: cover;
    
    transition:
      border-radius       0.3s,
      height              0.3s,
      width               0.3s,
      top                 0.3s,
      left                0.3s;
  }
  
  #logo:hover {
    border-radius: 10px / 0px 0px 10px 0px;
    height: 80px;
    width: 100px;
    top: -5px;
    left: -5px;
  }

  .image-link {
    background: none;
  }
  .image-link:hover {
    background: none;
  }
  
  .search-bar {
    position: relative;
    border-bottom: none;
    
    height: 100%;

    display: flex;
    flex-flow: row;
    flex: 0 1 320px;
  }

  nav input {
    box-sizing: border-box;
    border: none;
    padding: 0px 10px;
    min-width: 50px;
  }
}

/******************************************************/

/* DEFINING FOOTER LAYOUT PROPERTIES */
#footer {
  background-color: #162740;
  min-height: 100px;
  font-size: 0.8em;
}

#footer a {
  color: #F1FAEE;
  text-decoration: none;
  padding-bottom: 6px;
  font-size: 1.5em;
}

#footer a:hover {
  color: #B0B6AE;
  text-decoration: none;
}

.footer-content {
  padding: 20px;
  padding-bottom: 50px;
  width: 30%;
}

/******************************************************/

/* DEFINING MAIN LAYOUT PROPERTIES */
section {
  background-color: #457B9D;
  box-shadow: 
    0px 8px 20px #999;
}

.flex-column {
  display: flex;
  flex-flow: column;
  flex: auto;
}

.flex-row {
  display: inherit;
  flex-flow: column;
  flex: auto;
}

.list-title {
  padding-top: 20px; 
}
.list-item {
  position: relative;
  display: flex;
  flex: auto;
}

#main {
  margin-top: 3em;
}

/* DEFINING MAIN LAYOUT PROPERTIES FOR DESKTOP */
@media screen and (min-width: 800px) {
  .flex-column {
    flex-flow: column;
  }

  .flex-row {
    flex-flow: row;
  }

  #main {
    margin-top: 60px;
  }
}

/******************************************************/

/* DEFINING SPACER PRESETS */
.spacer-5 {
  flex: 0 1 5px;
}
.spacer-10 {
  flex: 0 1 10px;
}
.spacer-15 {
  flex: 0 1 15px;
}
.spacer-30 {
  flex: 0 1 30px;
}
.spacer-60 {
  flex: 0 1 60px;
}
.spacer-90 {
  flex: 0 1 90px;
}

/******************************************************/

/* DEFINING CONTENT STYLES */
.list-item {
  display: flex;
  flex-flow: column;
  position: relative; /**/
}

.list-item-link {
  color: #F1FAEE;
}

.list-item img {
  max-height: 150px;
  width: 100%;
  object-fit: cover;
  flex: auto;
}

#main img {
  max-height: 350px;
}

#actions img {
  max-height: 200px;
}

.list-item > p {
  box-sizing: border-box;
  margin: 0px 15px 15px 15px;
  border-top: none;
  padding-top: 5px;
}
.list-title > h2 {
  margin: 0px 15px 0px 15px;
}

@media screen and (min-width: 800px) {
  #main img {
    max-height: 400px;
  }

  #actions img {
    max-height: 320px;
  }

  .list-item img {
    max-height: 290px;
  }
  
  .list-item > p {
    box-sizing: border-box;
    margin: 0px 15px 15px 15px;
    border-top: 1px solid #F1FAEE;
    padding-top: 5px;
  }
}

/******************************************************/

/* DEFINING OVERLAY STYLES */
.image-caption {
  background-color: rgba(0, 0, 0, 0.6);
  
  position: absolute;
  left: 0px;
  
  display: flex;
  flex-flow: column;
}

#main .image-caption {
  bottom: 30px;
}

#actions .image-caption {
  bottom: 20px;
}

.list-item .image-caption {
  bottom: 20px;
}

.image-caption > p, h1, h2, h3 {
  margin: 0px 5px 0px 15px;
}
.image-caption h1 {
  font-size: 2.3em;
  font-weight: 200;
}
.image-caption h2 {
  font-size: 2em;
  font-weight: 200;
}
.image-caption h3 {
  font-size: 1.2em;
  font-weight: 200;
}
.small-text p {
  font-size: 0.7em;
}

@media screen and (min-width: 800px) {
  .image-caption.small-text {
    top: 58%;
    bottom: 5%;
    width: 100%;
  }
}