<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{% link css/style.css %}" />
</head>

<body>
  <div class="container-main">
    <div class="top-banner"></div>
    <header id="menu">
      <label id="menu-handle" for="menu-handle-toggle"><img id="menu-graphic" src="{% link images/double_chevron.png %}" alt="menu tab" /></label>
      <input id="menu-handle-toggle" type="checkbox" />
      <a id="home-link" href="{{ site.url }}"><img src="{% link images/placeholder_logo.png %}" alt="" /></a>
      <nav>
          <ul id="nav-items-right">
            <li><a href="{% link _pages/games.md %}">Games</a></li>
            <li><a href="{% link _pages/projects.md %}">Projects</a></li>
          </ul>
          <ul id="nav-items-left">
            <li><a href="https://www.linkedin.com/in/cdmcgwire">LinkedIn</a></li>
            <li><a href="{% link _pages/nimbus.md %}">Nimbus</a></li>
          </ul>
        </nav>
    </header>
    
    <div class="container-content">
    <div class="container-content-banner">
      {% include content_header.html header=page.main_header %}
      <p id="page-timestamp">
        {% if page.date %}
        Last Updated: {{ page.date | date_to_long_string }}
        {% endif %}
      </p>
      
      {{ content }}
    </div>
    </div>
      
    <div id="container-sideview">
    </div>
  </div>
  
    <script src={% link js/button_functionality.js %}></script>

</body>
</html>
