---
layout: default
---

{% include page_header.html title=page.title date=page.date summary=page.summary %}
<section class="page-content col center-cross">
	<h4>Recent Posts</h4>
	<ul class="link-list">
		{% for post in site.posts limit:3 %}
		<li class="link-entry row"><a class="row wrap center-main" href=""><span>{{ post.title }}</span> <time>{{ post.date | date: "%A, %B %-d" }}</time> {{ post.tags }}</a></li>
		{% endfor %}
	</ul>
	<article>{{ content }}</article>
	<footer>
		<!-- TODO: Figure out what should go in the footer. -->
	</footer>
</section>